.notification {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 92%;
    z-index: 9999;
}

.main-content {
    margin-top: 30px;
    padding: 20px;
}

/*since i only use tooltip for error messages i override its background color */
.tooltip-inner {
    background: var(--danger) !important;
}

input.error {
    box-shadow: 0 0 5px 3px var(--danger);
    /*, var(--inputBoxShadow);*/
    animation: shake 150ms linear;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}